<div id="<%= dom_id task_manager_app %>">
  <p>
    <strong>Task:</strong>
    <%= task_manager_app.task %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task_manager_app.description %>
  </p>

  <p>
    <strong>Catergory:</strong>
    <%= task_manager_app.catergory %>
  </p>

  <p>
    <strong>Due:</strong>
    <%= task_manager_app.due %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= task_manager_app.created %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task_manager_app.completed %>
  </p>

</div>
