<p style="color: green"><%= notice %></p>

<!DOCTYPE html>
<html>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

</style>
<body>

<table>
  <tr>
     <th>Task</th>
     <th>Description</th>
     <th>Catergory</th>
     <th>Due</th>
     <th>Completed</th>
  </tr>
  <tr>
    <td><%= @task_manager_app.task %></td>
    <td><%= @task_manager_app.description %></td>
    <td><%= @task_manager_app.catergory %></td>
    <td><%= @task_manager_app.due %></td>
    <td><%= @task_manager_app.completed %></td>
  </tr>
</table>



<%= link_to "Edit", edit_task_manager_app_path(@task_manager_app) %> |
<%= link_to "Back to List", task_manager_apps_path %>


<%= button_to "Delete", @task_manager_app, method: :delete, data: { confirm: "Are you sure you want to delete task?" } %>

